BODY {
	font-family : Arial, Helvetica, sans-serif;
	font-size : small;
}

P {
  margin: 1px;
}

.logo {
	text-shadow : Black;
	font-size : large;
	text-align : center;
}

.header {
	font-weight : bold;
    margin-top:10px;
}

.code {
	font-family : "Courier New", Courier, monospace;
	background-color : #E1E1E1;
	padding-top : 5px;
	padding-bottom : 5px;
}

.chapter {
	font-weight : bold;
    margin-top:10px;
}
	
.subchapter {
	font-size : smaller;	
}	
	
.topbar,  .topbar TD {
	background : #993366;
	line-height : 70%;
	color : White;
}

PRE {
	font-family : "Courier New";
	font-size : smaller;
}
	
.linktable  {
    width: 100%;
}

.linktable TD {
	background : #F3F3F3;
}
	
A, A:LINK, A:VISITED {
	text-decoration : none;
	color : Blue;
}

A:HOVER, A:FOCUS, A:ACTIVE {
	color : Red;
}

.classtree {
	}
